services:
  db:
    image: pgvector/pgvector:pg16
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ragdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
